

@font-face {
    font-family: 'poppinssemibold';
    src: font_url('poppins-semibold-webfont.woff2') format('woff2'),
         font_url('poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}