<% @places.each do |place| %>
  <div>
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
  </div>

  <hr />
<% end %>

<div class="col-10 offset-1">
  <%= will_paginate @places, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>